:root{
  --primary-color:#323291;
  --secandory-color:rgb(27, 114, 0);
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: rgb(228, 228, 228);
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color:white;
  font-size: 30px;
  padding:20px;
  width: 100%;
}
.whicklvl{
  width: 80%;
  margin: 10px auto;
  text-transform: capitalize;
  background-color: white;
  text-align: center;
  padding:20px;
}
.whicklvl span{
  color:var(--secandory-color);
  font-weight: bold;
}
.theword{
  width: 80%;
  height: 60px;
  margin: 0px auto 10px;
  background-color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
input,
button{
  width: 80%;
  height: 60px;
  margin: 0 auto;
  color:white;
  font-size: 22px;
  background-color: var(--secandory-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  cursor: pointer;
}
input{
  margin: 10px auto;
  background-color: white;
  border: 2px solid var(--primary-color);
  color: black;
  text-align: center;
}
input:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}
.comingwords{
  width: 80%;
  margin: 0px auto 10px;
  background-color: white;
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.comingwords p {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.comingwords span{
  background-color: var(--primary-color);
  color:white;
  padding:10px;
  margin: 10px 0;
  margin-right: 10px;
}
.timeleftandscore{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding:20px;
  margin: 0 auto;
}
.timeleftandscore .timeleft span{
  color:red;
  font-weight: bold;
}
.timeleftandscore .Score span{
  font-weight: bold;
}
.timeleftandscore .Score span:nth-child(1){
  color:var(--secandory-color);
}
.rusalt{
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}
.rusalt.lose{
  color:red;
}
.rusalt.win{
  color:var(--secandory-color);
}